<!-- TODO: HTML AUS AUFGABE2 HIERHER KOPIEREN UND DIE BEISPIEL-EINTRÄGE DER DISCOVERY-LISTE MIT DEN FOLGENDEN ZEILEN ERSETZEN -->
<!DOCTYPE html>

<!-- File origin: VS1LAB A1a -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoTagApp</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Leaflet CSS and JavaScript (in this order) -->
    <link rel='stylesheet' href='https://unpkg.com/leaflet@1.9.4/dist/leaflet.css'
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
</head>

<body>
    <header class="header">
        <img src="./images/location.png" class="header__image" alt="an image of a map and location">
        <h1 class="header__title">GeoTagApp</h1>
        <nav class="header__navigation">
            <a href="#">About</a> | <a href="#">Help</a> | <a href="/">Home</a>
        </nav>
    </header>

    <main class = "row">
        <section class="col-4">
            <h2 class="tagging__title" >Tagging</h2>

            <!-- ############### VS1Lab 1a Form 1 Start -->
            <form id="tag-form" action="/tagging" method="post" >
                <fieldset id = "fieldsetTagging">
                    <legend id = "lblAddGeotag">Add a new GeoTag</legend>
                    <label id = "lblLatitude">Latitude:</label>
                    <input class= "inputStyle" value = '<%= lat%>' name="inputLatitude" type="text" id = "inputLatitude" placeholder="49.01379" readonly/>
                    <label id = "lblLongitude">Longitude:</label>
                    <input class= "inputStyle"  value = '<%= long%>' name="inputLongitude" id = "inpLongitude" type="text" placeholder="8.390071" readonly/>
                    <label id = "lblName">Name:</label>
                    <input class= "inputStyle" name="inputName" required type="text" placeholder="Berlin" maxlength="10"/>
                    <label id = "lblHashtag">Hashtag:</label>
                    <input class= "inputStyle" name="inputHashtag" type="text" pattern = "#[a-zA-Z_0-9]{1,10}" placeholder="e.g. #ber"/>
                    <button id = "btnAddTag">Add Tag</button>
                </fieldset>


            </form>
            <!-- ############### VS1Lab 1a Form 1 End -->

        </section>

        <section class="col-8">
            <h2 class="discovery__title">Discovery</h2>

            <!-- ############### VS1Lab 1a Form 2 Start -->
            <form class="discovery__search" id="discoveryFilterForm" action="/discovery" method="post" >
                <fieldset class="fieldset_discovery">
                    <legend id = "ledSearch">Search</legend>
                    <label id = "lblSearch">Search term or keywords:</label>
                    <input class="col-2" name = "inputSearchTerm" id="inputSearchTerm"  type="text" placeholder="e.g. Berlin"/>
                    <button class="col-2" id = "btnSearch" >Search</button>
                    <input class= "inputStyle" hidden value = '<%= lat%>' type="text" name = "inputHiddenLatitude" id = "inputHiddenLatitude" placeholder="49.01379" readonly/>
                    <input class= "inputStyle" hidden value = '<%= long%>' name = "inputHiddenLongitude" id = "inputHiddenLongitude" type="text" placeholder="8.390071" readonly/>
                </fieldset>
                

            </form>
            <!-- ############### VS1Lab 1a Form 2 End -->

            <div class="discovery__wrapper">
                <div class="discovery__taglist">
                    <ul class="discovery__results" id="discoveryResults">             
                        <% if (taglist !== undefined) taglist.forEach(function(gtag) { %>
                            <li><%= gtag.name %> ( <%= gtag.latitude %>,<%= gtag.longitude %>) <%= gtag.hashtag %> </li>
                        <% }); %>
                    </ul>
                </div>

                <div id="map" class="col-12" data-tags = '<%- JSON.stringify(taglist|| []) %>'>
                    <img src="./images/mapview.jpg" alt="a map with locations" id="mapView" />
                    <span>Result map</span>
                </div>
            </div>
        </section>

    </main>

    <footer class="footer">
        <span>(c) 2021/22 HKA_IWI_VSYS</span>
    </footer>

    <!-- Load JavaScripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./javascripts/location-helper.js"></script>
    <script src="./javascripts/map-manager.js"></script>
    <script src="./javascripts/geotagging.js"></script>

</body>

</html>

